* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    // type precisions
    font-size: 11.5px;
    line-height: 1.2;
    scrollbar-width: none !important; 
    cursor:url("./o.svg"), auto !important;
  
}


  
@font-face {
    font-family: "univers";
    src: url(./assets/fonts/UniversElse-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    cursor:url("./o.svg"), auto !important;;
        font-family: "univers", Arial, Helvetica, sans-serif;
       
}
body::-webkit-scrollbar {
    display: none;
}


body {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none !important;  /* Firefox */
        color: black;
      
    
}
html {
    overflow-y:scroll;
}
a {
    text-decoration: none;
    color: #9d1cdd;
}

a:link {
    text-decoration: none;  
    cursor:url("./ofull.svg"), pointer !important;
  }
a:visited { 
    text-decoration: none;  
    cursor:url("./ofull.svg"), pointer !important;
    
}
a:active {
    cursor:url("./ofull.svg"), pointer !important;
}

a:hover { 
    color: #d400ff;
    cursor:url("./ofull.svg"), pointer !important;
}
ul {
    list-style-type: none;
}
.panWrapper, .panWrapper img.i {
    cursor:url("./x.svg"), pointer !important;
}
.front-desktop {
    display: block;
}
.front-mobile {
    display: none;
}