//header
.floris {
    position: fixed;
    width: 150px;
    left: 10px;
    top: 10px;
    z-index: 10000;
}
.index {
    position: fixed;
    right: 10px;
    width: 141px;
    bottom: 10px;
    z-index: 10000;
}
.index:hover {
    cursor:url("./ofull.svg"), pointer !important;
    filter: invert(10%) sepia(97%) saturate(7484%) hue-rotate(282deg) brightness(69%) contrast(96%);


    -ms-transform: skewX(-30deg); /* IE 9 */
    transform: skewX(-30deg);
    transition: transform 1s;
}
.dutoit {
    position: fixed;
    right: 10px;
    width: 141px;
    top: 10px;
    z-index: 10000;
}
.about {
    position: fixed;
    z-index: 10000;
    bottom: 10px;
    left: 10px;
    width: 130px;
}
.about:hover {
    cursor:url("./ofull.svg"), pointer !important;
    filter: invert(10%) sepia(97%) saturate(7484%) hue-rotate(282deg) brightness(69%) contrast(96%);


    -ms-transform: skewY(20deg); /* IE 9 */
    transform: skewY(20deg);
    transition: transform 1s;
}

//home
.projects {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    .project {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .thumb-img:hover {
            cursor:url("./ofull.svg"), pointer !important;
        }
        li {
            .caption {
                text-align: center;
                padding: 0 0 2px 0;
                visibility: hidden;
                margin-top: -2px;
                font-size: 10px;
             
            }
            &:hover > .caption {
                visibility: visible;
            }
        }
    }
}

//children tree

.child0 {
    width: 100px;
}
.child1 {
    width: 150px;
}

.child2 {
    width: 200px;
}

.child3 {
    width: 250px;
}
.child4 {
    width: 300px;
}
.child5 {
    width: 350px;
}

.child6 {
    width: 400px;
}


.child7 {
    width: 450px;
}

.child8 {
    width: 400px;
}
.child9 {
    width: 350px;
}

.child10 {
    width: 300px;
}

.child11 {
    width: 250px;
}
.child12 {
    width: 200px;
}

.child13 {
    width: 150px;
}


//pan
.panWrapper img.i {
    max-width: 100vw !important;
    transform-origin: top left !important;
    width: 100vw !important;
}
.panWrapper a.controls.in , .panWrapper a.controls.out, .panWrapper a.controls.close{
display: none !important;
}


//about

.about-page {
    width: 100vw;
    background: #E1FFCE;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    padding: 10px;
    p , span, a{
        line-height: 18px;
        font-size: 13px;
    }
}

.col1 {
  
}
.col {
    margin-top: 110px;
}